@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* Brandon Added */

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top:1.5em;
}
/* End Brandon Added */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

/* Body Styles */
body {
    color: wheat;
    background-color: #000;
    transition: background-color 500ms ease;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 35em) {

    body {
        /* background-color: blue; */
    }
}

@media (min-width: 55em) {

    body {
        /* background-color: pink; */
    }
}

@media (min-width: 80em) {

    body {
        /* background-color: violet; */
    }
}
/* END Body Styles */

p {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    /* background-color: #222; */
    padding: 2em;
}
@media (min-width: 38em) {

    .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 3em;
}
}
section {
    margin-top: 3em;
}
/* END General Styles */

/* Header */
header {
    display: block;
}

@media (min-width: 38em) {

    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.header-logo img {
    width: 100%;
}

.header-logo {
    max-width: 200px;
    margin: 0 auto;
}

@media (min-width: 38em) {

    .header-logo {
        max-width: 200px;
        margin: 0;
    }
}

/* Nav */
nav a {
    margin: 0 1em 0 1em;
}

nav {
    text-align: center;
}

/* END Nav */
/* END Header */

/* Section */


@media (min-width: 35em) {

    section {
        max-width: 80ch;
        margin-right: auto;
        margin-left: auto;
    }
}

section h1,
section h2 {
    margin: 0;
}

section p {
    margin: 0;
    font-weight: 300;
}

section p + p {
    margin-top: 1.5em;
}

/* END Section */

/* Hero */
@media (min-width: 35em) {

    .hero-p {
        font-size: 1.3em;
    }

    .hero-p-one {
        font-size: 1.6em;
    }
}
@media (min-width: 35em) {

    .hero {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        column-gap: 3em;
        row-gap: .5em;
    }

    .hero-p-one {
        grid-column: 1/-1;
    }

    .hero-p-two {
        grid-column: 1/7;
    }

    .hero-p-three {
        grid-column: 7/13;
    }
}

@media (min-width: 55em) {

    .hero {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        column-gap: 1em;
        row-gap: 1.5em;
    }

    .hero-p-one {
        grid-column: 1/-1;
    }

    .hero-p-two {
        grid-column: 2/11;
    }

    .hero-p-three {
        grid-column: 4/13;
    }
}

/* END Hero */

/* About Page */

/* Team */

img.team-image {
    height: 25vh;
    width: 100%;

    object-fit: cover;
    object-position: 100% 20%;
}

@media (min-width: 35em) {

    img.team-image {
       width: 200px;
       height: 300px;
    }

    .profile {
        display: flex;
    }

    .profile-right {
        margin-top: 0;
        padding-left: 2em;
    }

    .profile-right h3 {
        margin-top: 0;
    }
}
/* END Team */


/* END About page */

/* Project Page */

@media (min-width: 55em) {

    .project {
        display: grid;
        grid-template-columns: 150px 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 2em;
    }
}

@media (min-width: 55em) {

    .title {
        grid-column: 2/-1;
    }
}

@media (min-width: 55em) {

    .synopsis {
        grid-column: 2/-1;
        align-self: start;
    }

    .project .synopsis h2{
        grid-column: 2/-1;
        align-self: start;
        margin-top: 0;
    }
}

img.project-image {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 55em) {

    img.project-image {
        height: auto;
        width: 150px;
        object-fit: cover;
        
    }
}

.no-padding {
    margin-right: -2em;
    margin-left: -2em;
}

.project h2 {
    margin-top: 1.5em;
}

.project p {
    margin-top: initial;
}

.metadata {
    margin-top: 1.5em;
}

@media (min-width: 55em) {
    .metadata {
        margin-top: 0;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.category,
.status {
    font-weight: 200;
    margin: .3em;
}


@media (min-width: 55em) {

    .credits {
        /* display: flex;
        flex-direction: column; */
        grid-column: 2/-1;
        align-self: start;
        margin-top: 0;
    }

    .credit-block {
        align-self: flex-start;
    }

    .credits h2 {
        margin-top: 0;
    }

}
/* END Project Page */

section:first-of-type {
    margin-top: 3em;
}
@media (min-width: 38em) {
section:first-of-type {
    margin-top: 5em;
}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
